* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: auto !important;
}

.body-wrapper {
  overflow: hidden;
}

.gradient-wrapper {
  position: relative;
}

.gradient {
  position: absolute;
  width: 718px;
  height: 718px;
  left: -293px;
  top: -267px;
  background: linear-gradient(
    49.08deg,
    rgba(65, 88, 208, 0.5) 3.31%,
    rgba(200, 80, 192, 0.5) 57.52%,
    rgba(255, 204, 112, 0.5) 91.12%
  );
  filter: blur(150px);
}

.body-container {
  padding: 50px 0;
  width: 1160px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

.small-div-wrapper {
  display: flex;
  z-index: 1;
}

.small-div-wrapper .square {
  height: 19.8px;
  width: 19.8px;
  background: #394149;
}

.small-div-wrapper .circle {
  border-radius: 50%;
  height: 19.8px;
  width: 19.8px;
  background: #394149;
}

.small-div-wrapper .circle.spacing {
  margin: 0 2px;
}

nav .nav-items {
  list-style: none;
  display: flex;
  gap: 41px;
}

nav .nav-items a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #1e1c31;
}

nav .nav-items .active {
  font-weight: 600;
  color: #4270ec;
}

#section-home {
  padding: 60px 0;
}

#section-home .sction-homeStyle {
  z-index: 1;
  padding-right: 20px;
  display: flex;
}

#section-home .leftside-wrapper {
  align-self: center;
}

#section-home .leftside-wrapper span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1e1c31;
}

#section-home .leftside-wrapper h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 76px;
  color: #1e1c31;
}

#section-home .leftside-wrapper p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: rgba(30, 28, 49, 0.6);
  margin: 30px 0;
}

#section-home .leftside-wrapper .btn {
  width: 163px;
  height: 49px;
  background: #4270ec;
  border-radius: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  color: #ffffff;
}

#section-home .rightside-wrapper {
  display: flex;
}

#section-home .rightside-wrapper .rightside-image1 {
  background: url(images/image1.png);
  border-radius: 18px;
  height: 550px;
  background-repeat: no-repeat;
}

#section-home .rightside-wrapper .rightside-image2 {
  background: url(images/image2.png);
  border-radius: 18px;
  height: 550px;
}

#section-home .row-style {
  padding: 60px 0;
}

#section-home .row-style .img-text-wrapper {
  display: flex;
}

#section-home .row-style .img-text-wrapper .title-text-wrapper {
  margin-left: 15px;
}

#section-home .row-style .img-text-wrapper .title-text-wrapper h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #1e1c31;
}

#section-home .row-style .img-text-wrapper .title-text-wrapper p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(30, 28, 49, 0.5);
}

#section-about {
  padding: 80px 0;
}

#section-about .about-wrapper {
  display: flex;
  align-items: center;
}

#section-about .about-left-side {
  background: url(images/about.png);
  height: 500px;
}

#section-about .about-right-side h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1e1c31;
}

#section-about .about-right-side h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 61px;
  color: #1e1c31;
}

#section-about .about-right-side p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.5);
  margin: 40px 0;
}

#section-about .about-right-side .btn {
  width: 163px;
  height: 49px;
  background: #4270ec;
  border-radius: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  color: #ffffff;
}

#section-portfolio {
  padding: 80px 0;
}

#section-portfolio .portfolio-left-side h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1e1c31;
}

#section-portfolio .portfolio-left-side h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 61px;
  color: #1e1c31;
}

#section-portfolio .portfolio-right-side p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 10px;
}

#section-portfolio .portfolio-right-side span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #4270ec;
}

#section-portfolio .portfolio-image-wrapper {
  display: flex;
  gap: 12px;
  padding: 60px 0;
}

#section-portfolio .portfolio-image-wrapper .arrow {
  position: absolute;
  bottom: 30px;
  right: 50px;
}

#section-portfolio .portfolio-image1 {
  background: url(images/portfolio_image1.png);
  height: 481px;
  border-radius: 31px;
  background-repeat: no-repeat;
  position: relative;
}

#section-portfolio .portfolio-image2 {
  background: url(images/portfolio_image2.png);
  height: 481px;
  border-radius: 31px;
  background-repeat: no-repeat;
  position: relative;
}

#section-portfolio .portfolio-image3 {
  background: url(images/portfolio_image3.png);
  height: 481px;
  border-radius: 31px;
  background-repeat: no-repeat;
  position: relative;
}

#section-testimony .testimony-title {
  justify-content: center;
}

#section-testimony .testimony-title h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1e1c31;
}

#section-testimony .testimony-title h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 61px;
  text-align: center;
  color: #1e1c31;
}

#section-testimony .testimony-message {
  padding-top: 60px;
  justify-content: center;
  position: relative;
}

#section-testimony .testimony-message img {
  padding: 0;
}

#section-testimony .testimony-message .testinomy-image1 {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 15%;
}

#section-testimony .testimony-message .testinomy-image2 {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 15%;
}

#section-testimony .testimony-message .testinomy-image3 {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 40%;
  left: 22%;
}

#section-testimony .testimony-message .testinomy-image4 {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 40%;
  right: 22%;
}

#section-testimony .testimony-message .testinomy-image5 {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 12%;
  left: 18%;
}

#section-testimony .testimony-message .testinomy-image6 {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 10%;
  right: 18%;
}

#section-testimony .testimony-message .text-style {
  text-align: center;
}

#section-testimony .testimony-message .text-style img {
  height: 100px;
  width: 100px;
}

#section-testimony .testimony-message .text-style p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin: 30px 0;
}

#section-testimony .testimony-message .text-style h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #1e1c31;
}

#section-testimony .testimony-message .text-style span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: #1e1c31;
}

#section-news {
  padding: 80px 0;
}

#section-news .news-title {
  justify-content: center;
}

#section-news .news-title h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1e1c31;
}

#section-news .news-title h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 61px;
  text-align: center;
  color: #1e1c31;
}

#section-news .news-text {
  justify-content: space-between;
}

#section-news .news-text img {
  margin-bottom: 16px;
}

#section-news .news-text .bottom-Wrapper {
  padding: 0 20px;
}

#section-news .news-text .bottom-Wrapper span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: rgba(30, 28, 49, 0.6);
}

#section-news .news-text .bottom-Wrapper p {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1e1c31;
}

#section-news .news-text .bottom-Wrapper h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #4270ec;
}

#section-contact {
  background: linear-gradient(
    79.42deg,
    #527ff6 15.73%,
    #e16dd9 79.76%,
    #ffcc70 112.35%
  );
  border-radius: 30px;
  height: 300px;
}

#section-contact .content-wrapper {
  justify-content: center;
  align-items: center;
  height: 100%;
}

#section-contact .content-wrapper h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 51px;
  color: #ffffff;
}

#section-contact .content-wrapper .btn {
  width: 164px;
  height: 49px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #4270ec;
  background: #ffffff;
  border-radius: 12px;
}

footer {
  padding: 80px 0;
  display: flex;
}

footer h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #222136;
  margin-bottom: 15px;
}

footer li {
  list-style: none;
  margin-bottom: 10px;
}

footer p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(34, 33, 54, 0.7);
}
